<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lin , Kim Dekker, Michelle Witlox, Ryan de Vries, Thomas Norden">
    <title>RIJKS - Find your match</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="icon" type="image/svg+xml" href="../img/favicon_rijksmuseum.png">
</head>