<header>
  <section>
  <a href="#" rel="Zoek pagina"><img src="/img/search.svg" alt="Zoek knop"></a>
  <a href="/account" rel="Account pagina"><img src="/img/profile.svg" alt="Account knop"></a>
</section>
  <img src="/img/logo_rijksmuseum.png" alt="logo Rijksmuseum">
</header>