body {
    margin: 0;

}


/*********************/
/* FONT FACES */
/*********************/

@font-face {
    /* For the headers - Bold */
    font-family: "Rijksmuseum";
    src: url('../rijks/fonts/Rijksmuseum-Bold.woff2') format('woff2'), url('../rijks/fonts/Rijksmuseum-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    /* For the headers - Normal */
    font-family: "Rijksmuseum";
    src: url('../rijks/fonts/Rijksmuseum-Normal.woff2') format('woff2'), url('../rijks/fonts/Rijksmuseum-Normal.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}