<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Welcome to Your Dashboard, <%= name %>!</h1>
            <!-- USER STUFF -->
            <!-- DASHBOARD CONTENT -->
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>
