<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Welkom <%= name %>!</h1>
            <!-- USER STUFF -->
            <!-- DASHBOARD CONTENT -->
            <a href="/logout">Uitloggen</a>
            <a href="/vragen/1">Naar de vragen</a>
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>
