<!-- <%- include('partials/head') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <section class="welcome-section">
            <h1>Welcome to Our Application!</h1>
            <p>Please log in or sign up to access your dashboard.</p>
            <!-- CONTENT -->
            <form action="/" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Wachtwoord:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Login">
              </form>


            
            <h2>Or register now</h2>
            <a href="/register">Register now</a>
        </section>
    </main>

    <%- include('partials/footer') %>


</body>
</html>
