<%- include('partials/head') %>

<body class="InformatiePagina">
    <%- include('partials/header') %>


    <main class="startQuizCenter">
        <h1>Welkom <%= name %></h1>
        <a class="startQuizButton" href="/vragen/1">Start quiz</a>
        <img src="/img/rembrandt_zelfportret.jpg" alt="Rembrandt Zelfportret">

        <section class="homeArtikelen">
            <ul>
                <li>
                    <img class="imgFransHals" src="../img/FransHals.png" alt="Frans Hals">
                    <div class="textFransHals">
                        <h3>Frans Hals</h3>
                        <p>Al bijna 200.000 tickets verkocht</p>
                    </div>
                </li>
                <li>
                    <img class="imgExpressYourself" src="../img/ExpressYourself.png" alt="Express Yourself">
                    <div class="textExpressYourself">
                        <h3>Express Yourself</h3>
                        <p>Foto Tentoonstelling</p>
                    </div>
                </li>
            </ul>
        </section>
    </main>

</body>

</html>