<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Hier je niet gevonden object!</h1>

            <a href="/logout">Uitloggen</a>
            <a href="/vragen/1">Naar de vragen</a>
            <a href="/quizResultaten">Quizresultaten</a>

        </section>
    </main>

    <%- include('partials/footer') %>


</body>

</html>