<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
</head>
<body>
    <header>
        <!-- HEADER -->
    </header>

    <main>
        <section class="welcome-section">
            <h1>Create an account</h1>
            <p>Fill in your prefered information to create your account</p>
            <form action="/register" method="POST">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="password">Wachtwoord:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Register">
              </form>
        </section>
    </main>

    <footer>
        <!-- FOOTER -->
    </footer>

</body>
</html>
