<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <section>
            <h1>Maak een account aan</h1>
            <p>Vul de gegevens in om uw account aan te maken</p>
            <form action="/register" method="POST">
                <label for="username">gebruikersnaam:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Wachtwoord:</label>
                <input type="password" id="password" name="password" required>

                <label for="name">Jouw naam:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="drawing">Schets je profielafbeelding:</label>
                <div class="drawDiv">
                    <canvas class="canvas" id="drawing"></canvas>
                    <button class="fetchArt hidden">creëer</button>
                    <button class="deleteSketch"><></button>
                </div>
                <input type="hidden" id="profilePicture" name="profilePicture" required>

                <input type="submit" value="Registreren">

            </form>

            <% if (typeof error !== 'undefined' && error !== null) { %>
                <p class="pError"><%= error %></p>
            <% } %>

            <p>Of</p>
            <a class="subBtn" href="/login">Log in</a>


        </section>
    </main>


    <%- include('partials/footer') %>


    <script src="/script/script.js"></script>

</body>
</html>
