<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>


  <main class="startQuizCenter">
    <a class="startQuizButton" href="vraag1.html">Start quiz</a>
  </main>

  <%- include('partials/footer') %>

</body>

</html>