/*********************/
/* FONT FACES */
/*********************/

@font-face {
	/* For the headers - Bold */
	font-family: "Rijksmuseum";
	src: url('../fonts/Rijksmuseum-Bold.woff2') format('woff2'), url('../fonts/Rijksmuseum-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	/* For the headers - Normal */
	font-family: "Rijksmuseum";
	src: url('../fonts/Rijksmuseum-Normal.woff2') format('woff2'), url('../fonts/Rijksmuseum-Normal.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root{
    /* Colors */
    --bg-color: #2C3035;
    --bg-color-light: hsla(0,0%,100%,.2);
    --f-color: #E0DEDE;
    --btn-color:#363636;
    --main-color: #D55140;

	/* Font families */
	--ff: 'Rijksmuseum', sans-serif;

	/* Font weights */
	--fw-n: normal;
	--fw-b: bold;

	/* Font sizes */
	--fs-p: 1em;
	--fs-1: calc(var(--fs-p) * 8);
	--fs-2: calc(var(--fs-p) * 5);
	--fs-3: calc(var(--fs-p) * 4);
	--fs-4: calc(var(--fs-p) * 3);
	--fs-5: calc(var(--fs-p) * 2);
	--fs-6: calc(var(--fs-p) * 1.5);

    /* Button */
    --btn-padding: .8em 1em;

	/* Spacers for margins, gaps or paddings */
	--spacer: 1em;
	--spacer-md: calc(var(--spacer) * 2);
	--spacer-lg: calc(var(--spacer) * 3);


}

h1, h2, h3, h4, h5, h6{
    font-family: var(--ff);
    color: var(--f-color);
    margin: 0em;
}

h1{
    font-size: var(--fs-1);
}

h2{
    font-size: var(--fs-2);
}

h3{
    font-size: var(--fs-3);
}

h4{
    font-size: var(--fs-4);
}

h5{
    font-size: var(--fs-5);
}

h6{
    font-size: var(--fs-6);
}

a, input[type=submit]{
    font-family: var(--ff);
    text-decoration: none;
    font-size: var(--fs-p);
    font-weight: bold;
    color: var(--f-color);
    background-color: var(--main-color);
    padding: var(--btn-padding);
    margin: 0em;
    border: none;
    cursor:pointer;
    border-radius: 2px;
    transition: .3s ease-in-out;
}

a:hover, input[type=submit]:hover, a:focus, input[type=submit]:focus{
    background-color: var(--f-color);
    color: var(--bg-color);
}

.subBtn{
    font-family: var(--ff);
    text-decoration: none;
    font-size: var(--fs-p);
    font-weight: normal;
    color: var(--f-color);
    background-color: transparent;
    margin: 0em;
    padding: 0em 0em .3em 0em;
    border: none;
    cursor:pointer;
    position: relative;
}

.subBtn:hover, .subBtn:focus{
    background-color: transparent;
    color: var(--f-color);
}

.subBtn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--f-color);
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: left;
    transition: .3s all ease-out;
}


.subBtn:hover:after, .subBtn:focus:after {
    transform: scale(1);
}


body{
    background-color: var(--bg-color);
    font-family: var(--ff);
    font-size: var(--fs);
    color: var(--f-color);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: var(--spacer-md);
}


form input:not(:last-child){
    margin: 3px 0em var(--spacer) 0em;
    height: var(--spacer-md);
    border: none;
    border-bottom: 1px solid var(--bg-color-light);
    outline: none;
    background-color: var(--bg-color);
    background-size: 0 1px;
    position: relative;
    transition: .3s ease-in-out;
}

form input:not(:last-child):focus{
    border-bottom: 1px solid var(--f-color);
}

form input:last-child{
    margin-top: var(--spacer);
}


label {
    transform: translateY(1.2em);
    transition: 0.3s ease-in-out;
    color: var(--bg-color-light);
    z-index: 10;
    cursor: text;
}

label.focus {
    transform: translateY(0em);
    color: var(--f-color);
}




